<div class="relative">
    <!-- <div class="w-96 h-96 border-2 rounded-full absolute">
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute top-1/2 -left-1"></div>
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute top-1/2 -right-1"></div>
    </div> -->
    <div class="w-80 h-80 border-2 rounded-full absolute">
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute top-1/2 -left-1"></div>
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute top-1/4 left-[4%]"></div>
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute top-0 left-1/2"></div>
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute top-1/4 right-[4%]"></div>
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute top-1/2 -right-1"></div>
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute bottom-1/4 left-[4%]"></div>
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute bottom-0 left-1/2"></div>
        <div class="w-2 h-2 rounded-full bg-slate-900 absolute bottom-1/4 right-[4%]"></div>
    </div>
</div>