<!-- <header style="background-image: url('https://th.bing.com/th/id/R.8466ae76ce9373ddeff4c3eda2fffeb3?rik=zA4wdICv316nKw&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f1003%2f7610%2fproducts%2fTriangles_pattern_of_geometric_shapes_Wall_Mural_Wallpaper_a_800x.jpg%3fv%3d1578614224&ehk=TBmro5fPRkpeLjehpjgoqNB77%2fK8nCeu2mTImn6M9Vs%3d&risl=&pid=ImgRaw&r=0');"
    class="sticky">
    <div class="flex items-stretch h-14 w-full bg-slate-100 bg-opacity-60 backdrop-blur-sm">
        <div class="flex p-2 items-center">
            <p class="text-xl font-bold">{{title}}</p>
        </div>
        <div class="flex-grow">

        </div>
        <div class="flex items-stretch">
            <button class="px-3 active:bg-pink-300 font-bold border-t-4 border-transparent hover:border-slate-400 active:border-pink-600 active:text-pink-600 transition-all bg-opacity-70">
        Periodic Table
      </button>
            <button class="px-3 active:bg-pink-300 font-bold border-t-4 border-transparent hover:border-slate-400 active:border-pink-600 active:text-pink-600 transition-all bg-opacity-70">
        Elements List
      </button>
            <button class="px-3 active:bg-pink-300 font-bold border-t-4 border-transparent hover:border-slate-400 active:border-pink-600 active:text-pink-600 transition-all bg-opacity-70">
        Search
      </button>
        </div>
    </div>
</header> -->
<main class="bg-transparent">
    <router-outlet></router-outlet>
</main>